<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/banner.js" type="text/javascript" defer></script>
    </head>

    <body>
        <title>Animation Resources</title>
        
        <banner-snippet></banner-snippet>

        <h1>Animation Resources</h1>

        <div class="instructions">
            <h2>Where to Make Pixel Art</h2>
            <p>This is a free site that will allow you to make pixel art sprites and animations!</p>
            <a href="https://www.pixilart.com/">Pixilart</a>
            <p>And here is a link to a tutorial showing you how to use the site.</p>
            <a href="https://www.youtube.com/watch?v=DX3IkR_fjkQ">Tutorial</a>

            <h2>How to Make Better Animations</h2>
            <p>Here is a great video series on how to make better animations.</p>
            <a href="https://www.youtube.com/watch?v=uDqjIdI4bF4">Tutorial</a>

            <h2>Other Good Animation Tutorials</h2>
            <a href="https://www.youtube.com/watch?v=LPBvrdJ_1a8">Walking Animation</a>
            <a href="https://www.youtube.com/watch?v=nJbzBSVy1u0">Attack Animations</a>
            <a href="https://www.youtube.com/watch?v=LfTiws-0Vss">Different Pixel Art Styles</a>
            <a href="https://www.youtube.com/watch?v=ad-3dn2qUUs">Different Sizes of Pixel Art</a>
            <a href="https://www.youtube.com/watch?v=UPAHMyN9YeQ">Character Sprite Tutorial</a>
            <a href="https://www.youtube.com/watch?v=mdoycEGHye0">How to Make Better Characters</a>
            <a href="https://www.youtube.com/watch?v=c8vXmdPoD00">Woodland Critters Sprites</a>
        </div>
    </body>
</html>