<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/banner.js" type="text/javascript" defer></script>
    </head>

    <body>
        <title>Animation Resources</title>
        
        <banner-snippet></banner-snippet>

        <h1>Animation Resources</h1>

        <div class="instructions">
            <h2>Where to Make Pixel Art</h2>
            <p>This is a free site that will allow you to make pixel art sprites and animations!</p>
            <a href="https://www.pixilart.com/" class="subject-header">Pixilart</a>
            <p>And here is a link to a tutorial showing you how to use the site.</p>
            <a href="https://www.youtube.com/watch?v=DX3IkR_fjkQ" class="subject-header">Tutorial</a>

            <h2>How to Make Better Animations</h2>
            <p>Here is a great video series on how to make better animations.</p>
            <a href="https://www.youtube.com/watch?v=uDqjIdI4bF4" class="subject-header">Tutorial</a>

            <h2>Other Good Animation Tutorials</h2>
            <p><a href="https://www.youtube.com/watch?v=LPBvrdJ_1a8" class="subject-header">Walking Animation</a></p>
            <p><a href="https://www.youtube.com/watch?v=nJbzBSVy1u0" class="subject-header">Attack Animations</a></p>
            <p><a href="https://www.youtube.com/watch?v=LfTiws-0Vss" class="subject-header">Different Pixel Art Styles</a></p>
            <p><a href="https://www.youtube.com/watch?v=ad-3dn2qUUs" class="subject-header">Different Sizes of Pixel Art</a></p>
            <p><a href="https://www.youtube.com/watch?v=UPAHMyN9YeQ" class="subject-header">Character Sprite Tutorial</a></p>
            <p><a href="https://www.youtube.com/watch?v=mdoycEGHye0" class="subject-header">How to Make Better Characters</a></p>
            <p><a href="https://www.youtube.com/watch?v=c8vXmdPoD00" class="subject-header">Woodland Critters Sprites</a></p>
        </div>
    </body>
</html>