<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/banner.js" type="text/javascript" defer></script>
    </head>

    <body>
        <title>Coding Resources</title>

        <banner-snippet></banner-snippet>

        <h1>Coding Resources</h1>

        <div class="instructions">
            <h2>Python Examples</h2>
            <div>
                <a href="https://github.com/EvilZoidbergMD/python-examples" class="subject-header">Click Here for Examples</a>
                <p>The link above goes to my github, which hosts multiple different python files. I've added comments to the files to explain what each line does. Feel free to explore and play around with the commands you see there!</p>
            </div>

            <h2><a href="new-project.html" class="subject-header">Click Here to see how to make a new project.</a></h2>
        </div>
    </body>
</html>