<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/banner.js" type="text/javascript" defer></script>
    </head>

    <body>
        <title>Coding Resources</title>

        <banner-snippet></banner-snippet>

        <h1>Coding Resources</h1>

        <div class="instructions">
            <h2>Setting Up and Running a Project</h2>
            <div>
                <ul>
                    <li><a href="coding/new-project.html" class="subject-header">Making a New Project and Running it.</li>
                </ul>
            </div>

            <h2>Adding Stuff to Your Project</h2>
            <div>
                <ul>
                    <li><a href="https://phaser.io/examples/v3/view/game-objects/shapes/rectangle" class="subject-header">Adding Shapes to Your Game</li>
                    <li><a href="https://www.youtube.com/watch?v=fkjXblRuskc" class="subject-header">Adding Sprites to Your Game</li>
                </ul>
            </div>

            <h2>Physics and Collision</h2>
            <div>
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=uSOuDndOzC4" class="subject-header">Making Things Move and Collide</li>
                </ul>
            </div>
        </div>
    </body>
</html>