<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/banner.js" type="text/javascript" defer></script>
    </head>

    <body>
        <title>Examples of Games</title>

        <banner-snippet></banner-snippet>

        <h1>Conway's Game of Life</h1>
        <script src="../js/GameOfLife/src/game.js"></script>
    </body>
</html>