<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/banner.js" type="text/javascript" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser.js"></script>
    </head>

    <body>
        <title>Examples of Games</title>

        <banner-snippet></banner-snippet>

        <h1>Conway's Game of Life</h1>
        <div class="instructions">
            <p>Click to change between living and dead squares, then hit start to run the game.</p>
            <p>There are 3 rules to the game of life:</p>
            <p>1. Any living square with no living neighbors dies of starvation.</p>
            <p>2. Any living square with more than 3 neighbors dies of overpopulation.</p>
            <p>3. Any dead square with exactly 3 neighbors comes to life.</p>
        </div>
        
        <script src="../js/GameOfLife/src/game.js" type="module"></script>
    </body>
</html>