<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/banner.js" type="text/javascript" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser.js"></script>
    </head>

    <body>
        <title>Examples of Games</title>

        <banner-snippet></banner-snippet>
        <h2>Phaser Examples</h2>
        <h1><a href="gameoflife.html" class="subject-header">Conway's Game of Life</a></h1>


        <h2>Python Examples</h2>
        <div>
            <a href="https://github.com/EvilZoidbergMD/python-examples" class="subject-header">Click Here for Examples</a>
            <p>The link above goes to my github, which hosts multiple different python files. I've added comments to the files to explain what each line does. Feel free to explore and play around with the commands you see there!</p>
        </div>
    </body>
</html>
