<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/banner.js" type="text/javascript" defer></script>
    </head>

    <body>
        <title>Game Dev Resources</title>

        <banner-snippet></banner-snippet>

        <h1>Mr. E's Game Dev Resources</h1>

        <div class="subject">
            <a href="installation.html" class="subject-header">Installation</a>
            <p class="subject-description">Learn how to install the necessary programs to start working!</p>
        </div>

        <div class="subject">
            <a href="coding.html" class="subject-header">Coding</a>
            <p class="subject-description">Learn how to add objects to your game, then make them move and interact!</p>
        </div>

        <div class="subject">
            <a href="art.html" class="subject-header">Animation</a>
            <p class="subject-description">Learn how to make pixel art animations for free online!</p>
        </div>

        <div class="subject">
            <a href="other.html" class="subject-header">Other Resources</a>
            <p class="subject-description">List of other resources that might help you!</p>
        </div>
    </body>
</html>