<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/banner.js" type="text/javascript" defer></script>
    </head>

    <body>
        <title>Making a New Project</title>

        <banner-snippet></banner-snippet>

        <h1>Coding Resources</h1>

        <div class="instructions">
            <h2>Making a New Project</h2>
            <div>
                <p>Make a new file that ends in '.py' so that the computer knows it is a python file.</p>
                <p>I recommend short names with no spaces, but isn't strictly required.</p>
                <p>Once your file is made, you can use the link below to see what code needs to go in the file:</p>
                <p><a href="https://github.com/EvilZoidbergMD/python-examples/blob/master/boilerplate.py" class="subject-header">Click here to see the code that should be added to each python file you want to run.</a></p>
            </div>

            <h2>Running Your Project</h2>
            <div>
                <p>If you aren't already there, get to your game folder with your terminal. Then run the following command, but replade projectName with the name of the file you want to run</p>
                <p class="code">python projectName.py</p>
            </div>
        </div>
    </body>
</html>