<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/banner.js" type="text/javascript" defer></script>
    </head>

    <body>
        <title>Making a New Project</title>

        <banner-snippet></banner-snippet>

        <h1>Coding Resources</h1>

        <div class="instructions">
            <h2>Making a New Project</h2>
            <div>
                <p>Instructions go here.</p>
            </div>
        </div>
    </body>
</html>