<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/banner.js" type="text/javascript" defer></script>
    </head>

    <body>
        <title>Making a New Project</title>

        <banner-snippet></banner-snippet>

        <h1>Coding Resources</h1>

        <div class="instructions">
            <h2>Making a New Project</h2>
            <div>
                <ul>
                    <li><a href="coding-subjects/new-project.html" class="subject-header">Making a New Project</li>
                    <li><a href="" class="subject-header">Running Your Project</li>
                </ul>
            </div>

            <h2>Adding Stuff to Your Project</h2>
            <div>
                <ul>
                    <li><a href="" class="subject-header">Adding Shapes to Your Game</li>
                    <li><a href="" class="subject-header">Adding Sprites to Your Game</li>
                </ul>
            </div>

            <h2>Physics and Collision</h2>
            <div>
                <ul>
                    <li><a href="" class="subject-header">Making Things Move</li>
                    <li><a href="" class="subject-header">Adding Collisions</li>
                </ul>
            </div>
        </div>
    </body>
</html>