<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/banner.js" type="text/javascript" defer></script>
    </head>

    <body>
        <title>Making a New Project</title>

        <banner-snippet></banner-snippet>

        <h1>Coding Resources</h1>

        <div class="instructions">
            <h2>Making a New Project</h2>
            <div>
                <p>Using your terminal, go to where you want your new project to be, then copy and paste the following command and hit enter.</p>
                <p class="code">git clone https://github.com/EvilZoidbergMD/new-phaser-game.git</p>
            </div>

            <h2>Running Your Project</h2>
            <div>
                <p>If you aren't already there, get to your game folder with your terminal. Then copy and paste the following command.</p>
                <p class="code">npm start</p>
                <p>Leave the command running, and go to Google Chrome and go to:</p>
                <p class="code">http://localhost:1234</p>
                <p>To stop your game, go back to your terminal and hit control+c on the keyboard.</p>
            </div>
        </div>
    </body>
</html>