.code {
    color: black;
    background-color: lightgray;
    margin-left: 10px;
    padding: 5px;
    padding-left: 10px;
    margin-right: 100px;
}

canvas {
    margin-left: 200px;
    margin-bottom: 300px;
}

.banner {
    background-color: lightblue;
    margin: 0px;
    padding: 30px;
}

.subject-header {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.subject-description {
    margin-top: 0px;
    margin-left: 20px;
}

.subject {
    margin: 35px;

}

body {
    background-color: #1c1e21;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    margin: 0px;
}

h1 {
    color: lightblue;
    font-size: 42px;
    font-weight: bold;
    margin-left: 50px;
}

h2 {
    color: lightblue;
    font-size:20;
    font-weight: bold;
}

p {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size:20px;
    padding:5px;
}

a {
    font-weight: bold;
}

a:link.subject-header {
    text-decoration: none;
    color:white;
}

a:visited.subject-header {
    text-decoration: none;
    color:white;
}

a:hover.subject-header {
    text-decoration: none;
    color:darkgray;
}

a:active.subject-header {
    text-decoration: none;
    color:black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    color:white;
}

.instructions {
    margin-left:75px;
}

.banner-item {
    margin-left: 20px;
    font-weight: bold;
}

a:link.banner-item {
    text-decoration: none;
    color:black;
}

a:visited.banner-item {
    text-decoration: none;
    color:black;
}

a:hover.banner-item {
    text-decoration: none;
    color:darkgray;
}

a:active.banner-item {
    text-decoration: none;
    color:white;
}

div {
    margin-left: 20px;
}
